* {
    box-sizing: border-box;
    /* margin: 0; */
    font-family: var(--source-font), 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

:root {
    --noto-font: 'Noto Sans';
    --source-font: 'Source Sans 3';
    --rich-black: #0d1b2aff;
    --oxford: #1b263bff;
    --gray-blue: #415a77ff;
    --shadow-blue: rgb(152, 170, 194);
}

body {
    font-weight: 200;
    color: var(--oxford);
}

.header {
    padding: 0px;
}

.navbar {
    background-color: whitesmoke;
    padding: 10px 20px;
    border-bottom: 1px solid var(--shadow-blue);
    justify-content: space-between;
}

.navitem {
    list-style: none;
    margin: 5px;
}

.nav-link {
    color: var(--oxford);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--oxford);
    text-decoration: underline var(--oxford);
}

.section {
    margin: 1em;
    padding: 1em;
}

.projects .container {
    justify-content: space-around;
}

.project {
    display: flex;
    padding: 0px;
}

#p1,
#p2,
#p3 {
    margin-top: 5px;
    border: 1px solid rgb(219, 217, 217);
}

.project h3 {
    height: 1.5em;
    padding-top: .25em;
    text-align: center;
    background-color: whitesmoke;
    margin-bottom: 0px;
}

#p1-text,
#p2-text,
#p3-text {
    opacity: 0.0;
    padding: 20px;
}

/* .prj-img {
    position: absolute;
    visibility: hidden;
} */


#name,
#email {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid var(--rich-black);
    width: 200px;
}

.submit-btn {
    background-color: whitesmoke;
    color: var(--oxford);
    border-radius: 2px;
    border: 1px dotted var(--oxford);
    padding: 5px;
}

.footer {
    background-color: whitesmoke;
    padding: 5px;
    border-top: 1px solid var(--shadow-blue);
}