:root {
    --noto-font: 'Noto Sans';
    --source-font: 'Source Sans 3';
    --rich-black: #0d1b2aff;
    --oxford: #1b263bff;
    --gray-blue: #415a77ff;
    --shadow-blue: rgb(152, 170, 194);
}

* {
    box-sizing: border-box;
    font-family: var(--source-font), 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

body {
    font-weight: 200;
    color: var(--oxford);
}

.header {
    padding: 0px;
}

.navbar {
    background-color: whitesmoke;
    padding: 10px 20px;
    border-bottom: 1px solid var(--oxford);
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    color: var(--oxford);
}

.navitem {
    list-style: none;
    margin: 5px;
}

.nav-link {
    color: var(--oxford);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--oxford);
    text-decoration: underline var(--oxford);
}


.section {
    margin: 1em 0em 1em 0em;
    padding: 1em;
}

.col {
    display: flex;
    flex-direction: row;
}

.section-text {
    font-size: 20px;
}

.intro {
    height: 200px;
    justify-content: center;
    text-align: center;
    background-color: var(--shadow-blue);
}

.bio {
    /* text-align: right; */
    border: 1px solid var(--gray-blue);
    border-radius: 4px;
}


.expand {
    color: var(--gray-blue);
    background-color: white;
    /* border: 1px solid var(--gray-blue); */
    border-radius: 2px;
    height: 35px;
    width: 100px;
    align-self: flex-end;
}

.expand:hover {
    color: white;
    background-color: var(--gray-blue);
}

.experience li {
    list-style-type: circle;
}

.exp-list {
    margin-bottom: 0px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    /* border: 1px solid rgb(219, 217, 217); */
    text-align: center;
    padding-bottom: 1em;
}

.p-title {
    height: 1.5em;
    padding-top: .25em;
    background-color: whitesmoke;
}

.p-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid var(--shadow-blue);
}

.p-text {
    padding: 20px;
}

.p-link {
    text-decoration: none;
}

.p-btn {
    align-self: center;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 2px;
    opacity: 0.0;
}

.extra {
    opacity: 0.0;
}

.contact-form {
    display: flex;
    justify-content: space-around;
}

.input {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid var(--rich-black);
}

.msg-area {
    display: flex;
    flex-direction: column;
}

.input-msg {
    border-radius: 2px;
    border: 1px solid var(--shadow-blue);
}

.submit-btn {
    background-color: whitesmoke;
    color: var(--oxford);
    border-radius: 2px;
    border: 1px solid var(--shadow-blue);
    padding: 5px;
    width: 25%;
}

.footer {
    background-color: whitesmoke;
    padding: 5px;
    border-top: 1px solid var(--shadow-blue);
}